@import "tailwindcss";



html,
body,
Main {
  margin: 0;
  padding: 0;
}

/* .navbar-brand{
  display: flex;
  justify-content: center;
} */

body .page-wrapper-new {
  margin-left: 250px;
  padding-top: 64px;
  transition: margin-left 0.3s ease;
}

body .mini-sidebar .page-wrapper-new.collapsed {
  margin-left: 65px;
}
